version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: axe-webhooks_web_1
      APP_PORT: 3456

  web:
    image: axe-webhooks-web:latest
    build:
      context: ./web
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}:/data
    environment:
      ADMIN_PASSWORD: "${APP_AXE_WEBHOOKS_ADMIN_PASSWORD:-}"

  watcher:
    image: axe-webhooks-watcher:latest
    build:
      context: ./watcher
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}:/data
    environment:
      POLL_SECONDS: "${APP_AXE_WEBHOOKS_POLL_SECONDS:-15}"
    depends_on:
      - web
