version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: axe-webhooks_web_1
      APP_PORT: 3456

  web:
    build: ${APP_DATA_DIR}/web
    init: true
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}:/data
    environment:
      ADMIN_PASSWORD: "${APP_AXE_WEBHOOKS_ADMIN_PASSWORD:-}"

  watcher:
    build: ${APP_DATA_DIR}/watcher
    init: true
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}:/data
    environment:
      POLL_SECONDS: "${APP_AXE_WEBHOOKS_POLL_SECONDS:-15}"
    depends_on:
      - web
